/tests/*/output/
/tests/*/mock_*
log.txt
*.pdf
lib
obj
bin
/install_third_party/libraries
/install_third_party/src

/instrument_modules/modules/KeckAOk_true
/instrument_modules/modules/aymericCAM
/data/*
!/data/gerlumph.db
/plotting/*.png
